

html {
    font-size: 62.5%;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Open Sans";
    color: #808080;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}


@import 'layout';
@import 'headernavbar';
@import 'page-title';
@import 'form-fields';
@import 'details';

//AUTH

@import 'auth/signin';
@import 'auth/signup';

//ACCOUNT

@import 'account/account';
@import 'account/purchase-history';
@import 'account/account-information';

//SHOP
@import 'auth/shop/shop.scss';
@import 'auth/shop/shop-search-bar.scss';
@import '../style/shop.product.scss';

//CART
@import '../style/auth/shop/shop-cart.scss';
@import '../style/auth/shop/cart-product.scss';

//QUANTITY
@import 'quantity';
@import 'green-price-tag';

//REVIEW
@import '../style/order/review.scss';